/*solo estilo index y pages*/
/*Body.........................................................................................................*/
body{
    font-family: $fuente;
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}