/*Main...........................................................................................................*/

.bienvenida{
    width: 100%;  
    h1{
        color: $verde;
        text-decoration: underline;
        text-align: center;
        font-size: 3rem;
        background-image: url(../medios/imagen-1.JPG);
        background-position: center;
        background-size: cover;
        text-shadow: black;
        padding: 50px;
    }
}
.conocernos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 15px;
    .quienes{
        h2{
            color: black;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .niños{
            width: 20%;
            margin: 0px 0px 0px 40px;
        }
        p{
            color:black;
            margin-top: 15px;
            background-color: whitesmoke;
        }
        
    }
    .pedagogias{
        h2{
            color: black;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .montessori{
            width: 20%;
        }
        p{
            color:black;
            margin-top: 15px;
            background-color: whitesmoke;
        }
        
    }
    .preguntas{
        h2{
            color: black;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .preg{
            width: 60%;   
        }
        p{
            color:black;
            margin-top: 15px;
            background-color: whitesmoke;
        }
        
    }
}

.destacados{
    display: grid;
    grid-template-areas: 
     "tex1 tex1 tex1 tex1"
     "img1 img1 img1 img1";
     grid-template-rows: 100px 1000px;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     align-items: center;
     justify-items: center;
         .destacados1{
            grid-area: tex1;
         }
        .destacados2{
            grid-area: img1;
            width: 100%;
            height: 100%;
        }
    }
/*Main...........................................................................................................*/